## Anaconda (Open Source modern analytics platform)

- Anaconda es una distribución de Python completamente libre. Incluye más de 400 de los paquetes de Python más populares para la ciencia, las matemáticas, la ingeniería y el <b>análisis de datos</b>. 

- Anaconda es un producto gratuito de Continuum Analytics ([www.continuum.io](https://www.continuum.io/)) que nos permite construir el stack científico de manera sencilla.


ón de Anaconda

#### Windows | OS X | Linux

https://www.continuum.io/downloads

- Descargar el instalador para python 3 y seguir las instrucciones.
- Revisar si todo está en orden

Para más información:
http://conda.pydata.org/docs/install/full.html

In [90]:
conda update conda
conda update anaconda

SyntaxError: invalid syntax (<ipython-input-90-5b1322d75b0e>, line 1)

### Virtual evironment

Un entorno virtual es un espacio aislado con una copia de Python que mantiene sus propios archivos, directorios y paths de tal manera que puedas trabajar con versiones especificas de las librerias de Python (incluso la versión de Python) sin afectar otros proyectos existentes. Ayuda a evitar problemas si se tienen diferentes dependencias y versiones de los mismos componentes.

http://conda.pydata.org/docs/using/envs.html

### Crear un entorno

In [39]:
conda create -n programads anaconda

SyntaxError: invalid syntax (<ipython-input-39-caffa25f3e7c>, line 1)

### Activar el entorno

#### Linux, OS X:

In [1]:
?

#### Windows

In [41]:
activate programads

SyntaxError: invalid syntax (<ipython-input-41-4ab43cbf8cb6>, line 1)

## IPython 3 (jupyter)
Durante el programa usaremos usaremos IPython Notebook (jupyter). Este será nuestro entorno de desarrollo integrado (WebIDE)
http://jupyter.org/

In [42]:
# Iniciar notebook 
jupyter notebook

SyntaxError: invalid syntax (<ipython-input-42-86301c88da27>, line 2)

Jupyter es una aplicación web que te permite crear y compartir documentos que contienen código, ecuaciones, visualizaciones y texto. Los usos incluyen: limpieza y transformación de datos, simulación numérica, estadística, aprendizaje automático y mucho más.

- Es una herramienta importante para lograr investigación reproducible.
- Soporta diferentes lenguajes de programación como Julia, Octave, Python and R. (y muchos otros)
- Jupyter usa markdown para crear texto y además tiene implementación de LaTeX para crear tipografía matemática de alta calidad.

### Ejemplo Markdown

http://nbviewer.jupyter.org/github/jupyter/notebook/blob/master/docs/source/examples/Notebook/Working%20With%20Markdown%20Cells.ipynb

### Ejemplo LaTeX

https://en.wikibooks.org/wiki/LaTeX/Mathematics

$$ P(x, \sigma, \mu) = \frac{1}{\sigma\sqrt{2 \pi}}e^{-(x -\mu)^2/2\sigma^2}$$

## Programación en Python

- Lenguaje de alto nivel, interpretado, de propósito general y tipado dinámico
- Es Sofware Libre/Open Sourece, bajo la licencia concedida por la Python Software Foundation
- El lenguaje esta diseñado para maximizar la facilidad de lectura del mismo
- Creado por Guido van Rossum en 1989
- Para este curso usaremos Python 3 https://www.python.org/downloads/  
- Usamos python 3 pues es el presente y futuro del lenguaje

### ¿Por qué Python para la ciencia de datos?

Python es un lenguaje que puede actuar como una solución completa, puede encargarse de los servicios web, bases de datos, manejo y procesamiento de datos. También se puede utilizar para escribir aplicaciones del lado del servidor, tales como sitios web dinámicos, aplicaciones para sistemas operativos con interfaces gráficas e incluso aplicaciones en IOS y Android.

https://www.quora.com/Why-is-Python-a-language-of-choice-for-data-scientists

> "The Python community invested in the mid-1990s in Numeric, an "extension to Python to support numeric analysis as naturally as [M]atlab does". Numeric later evolved into NumPy. Several years later, the plotting functionality from Matlab was ported to Python with matplotlib. Libraries for scientific computing were built around NumPy and matplotlib and bundled into the SciPy package, which was commercially supported by Enthought. Python's support for Matlab-like array manipulation and plotting is a major reason to prefer it over Perl and Ruby.

> Today, the most popular alternatives to Python for data scientists are R, Matlab/Octave, and Mathematica/Sage. In addition to the work mentioned above to port features from Matlab into Python, recent work has ported several popular features from R and Mathematica into Python.

> From R, the data frame and associated manipulations (from the plyr and reshape packages) have been implemented by the pandas library. The scikit-learn project presents a common interface to many machine learning algorithms, similar to the caret package in R."

<div align="right"><b>-Jeff Hammerbacher, Professor at Hammer Lab, founder at Cloudera, investor at Techammer</b></div>

### Filosofía de Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### ¡Hola Mundo!

In [1]:
# Soy un comentario
print("¡Hola Mundo!")

¡Hola Mundo!

### Sintaxis
Python usa sangría (espacios y tabulaciones) en lugar de llaves, el estándar es de 4 espacios.

In [2]:
x = 1
if x == 1:
    # 4 espacios (1 tab)
    print("x es 1")

x es 1

### Variables
 - Python es orientado a objetos, y de tipado dinámico, es decir, no es necesario declarar las variables antes de usarlas, o declarar su tipo. 
 - Cada variable en Python es un objeto.

### Tipos de datos
#### Tipos Numéricos
Hay tres tipos numéricos: enteros, números de punto flotante, y los números complejos.

In [5]:
mi_int = 1
mi_float = 7.0
print(type(mi_float))
mi_float = "arriba el norte"
print(type(mi_float))
mi_complex = 3.14j

<class 'float'>
<class 'str'>

In [10]:
print(type(mi_float))

<class 'str'>

#### Tipos secuenciales
 - Listas: Pueden contener cualquier tipo de variable, y pueden contener tantas variables como se desee.

In [12]:
mi_lista = []
mi_lista.append(1)
print(mi_lista)
mi_lista.append("Monty")
print(mi_lista)
mi_lista.append(True)

print(mi_lista)

[1]
[1, 'Monty']
[1, 'Monty', True]

In [14]:
mi_lista[2]

True

In [13]:
s = "String"

In [14]:
s[1]

't'

In [15]:
s[1] = 'b'

TypeError: 'str' object does not support item assignment

In [16]:
print(mi_lista)

[1, 'Monty', True]

In [19]:
l = []

In [20]:
l

[]

 - Tuplas: A diferencia de las listas, las tuplas no se pueden cambiar y utilizan paréntesis.

In [30]:
mi_lista[1] = "hola"
print(mi_lista)

[1, 'hola', True]

In [18]:
mi_tupla = (1, "Monty", True)
print(mi_tupla)

(1, 'Monty', True)

In [60]:
def mi_funcion(a,b):
    """
    asdasdasd
    aasdasdasd
    asdasd
    """
    a = a*2
    b = b*2
    return a,b

In [29]:
x, y = mi_funcion(1,2)

In [21]:
type(mi_tupla)

tuple

In [59]:
print(mi_tupla)

(1, 'Monty', True)

In [23]:
print(x, y)

2 4

In [32]:
s="""
    asdasdasd
    aasdasdasd
    asdasd
"""

In [45]:
s = "dos comillas"

In [34]:
s = 'una comilla'

In [35]:
type(mi_tupla)
type(s)

str

In [36]:
print(x,y)

2 4

In [37]:
mi_tupla[0] = 2

TypeError: 'tuple' object does not support item assignment

In [47]:
s

'una comilla'

 - Rangos: Los rangos representan una secuencia de números

In [48]:
for i in s:
    print(i)

u
n
a

c
o
m
i
l
l
a

In [54]:
for i, elemento in enumerate(mi_lista):
    print(i, elemento)

0 1
1 hola
2 True

In [53]:
for i in range(5):
    print(i)

0
1
2
3
4

In [58]:
for i in range(5,10,2):
    print(i)

5
7
9

In [51]:
list(range(-5, 30, 5))

[-5, 0, 5, 10, 15, 20, 25]

In [56]:
l = [i*5 for i in range(-5,30,5)]

In [71]:
l2 = []
for i in range(-5,30,5):
    l2.append(i*5)

In [72]:
l

[-25, 0, 25, 50, 75, 100, 125]

In [73]:
l2

[-25, 0, 25, 50, 75, 100, 125]

In [61]:
[mi_funcion(i, i+1) for i in range(-5, 30, 5)]

[(-10, -8), (0, 2), (10, 12), (20, 22), (30, 32), (40, 42), (50, 52)]

In [75]:
[2019 - i for i in [1990, 1991, 1990, 1990, 1992, 1991]]

[29, 28, 29, 29, 27, 28]

In [55]:
l = []
for i in [1990, 1991, 1990, 1990, 1992, 1991]:
    l.append(i)
l

[1990, 1991, 1990, 1990, 1992, 1991]

In [3]:
list(range(-5, 30, 5))

[-5, 0, 5, 10, 15, 20, 25]

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Tipo String
El texto en Python se maneja con objetos str (strings), o cadenas. Se pueden escribir de distintas maneras:

¡Importante!: En python no existe el tipo "char", un sólo carácter es un string de tamaño 1

In [66]:
comillas_simples = 'permite usar "comillas" dobles'
comillas_dobles = "permite usar 'comillas' simples"
comillas_triples = '''permite correrse por varias lineas'''

print(comillas_simples[1:5])

comillas_simples.upper()

ermi

'PERMITE USAR "COMILLAS" DOBLES'

In [67]:
s = '000067668'

In [68]:
s.lstrip('0')

'67668'

In [69]:
texto = "El caballo blanco de Napoleon"

In [70]:
texto.split("l")

['E', ' caba', '', 'o b', 'anco de Napo', 'eon']

In [71]:
comillas_simples

'permite usar "comillas" dobles'

In [76]:
comillas_simples[comillas_simples.index('usar'):]

'usar "comillas" dobles'

In [86]:
l = [i for i in comillas_simples]

l = []
for i in comillas_simples:
    l.append(i)

In [87]:
type(comillas_simples)

str

In [88]:
type(l)

list

#### Tipo Mapping
- Diccionario: Un diccionario funciona con claves y valores en lugar de índices. Cada valor almacenado en un diccionario se puede acceder mediante una clave, es decir, cualquier tipo de objeto (una cadena, un número, una lista, etc.) en lugar de utilizar su índice de abordarlo.

In [83]:
ficha_bibliografica = {
    "Nombre" : "Carl W.",
    "Edad" : "26",
    "Nombre" : "Handlin"
}

In [84]:
ficha_bibliografica["Nombre"]

'Handlin'

In [85]:
print(ficha_bibliografica.keys())

dict_keys(['Nombre', 'Edad'])

In [86]:
for key in ficha_bibliografica.keys():
    print(ficha_bibliografica[key])

Handlin
26

In [87]:
ficha_bibliografica.values()

dict_values(['Handlin', '26'])

In [88]:
ficha_bibliografica["Edad"]

'26'

In [89]:
s = ["1","2","3"]

In [90]:
'_'.join(s)

'1_2_3'

In [91]:
s = [1,2,3]

In [92]:
'_'.join([str(e) for e in s])

'1_2_3'

In [93]:
' '.join(s)

TypeError: sequence item 0: expected str instance, int found

In [95]:
ficha_bibliografica.copy()

In [98]:
dictionary = {key: ficha_bibliografica[key] + "_otro_val" for key in ficha_bibliografica}

In [99]:
ficha_bibliografica

{'Nombre': 'Handlin', 'Edad': '26'}

In [100]:
dictionary

{'Nombre': 'Handlin_otro_val', 'Edad': '26_otro_val'}

In [110]:
ficha_bibliografica

{'Nombre': 'Handlin', 'Edad': '26'}

In [111]:
ficha_bibliografica['Nombre']

'Handlin'

In [53]:
l = ["Carl W.", 26]

In [112]:
l[1]

'e'

In [113]:
[ficha_bibliografica[i] for i in ficha_bibliografica]

['Handlin', '26']

In [114]:
print(mi_diccionario)

NameError: name 'mi_diccionario' is not defined

#### Tipo Booleano

In [106]:
mi_boolean = False
mi_boolean = True

In [107]:
if mi_boolean:
    print("this is true")

this is true

In [111]:
var = None

In [117]:
print(var)

None

In [134]:
x = "aczxczxc<zcxzxczxczxczxczxczxczxczxczxczxczxczxc"
y = "aczxczxc<zcxzxczxczxczxczxczxczxczxczxczxczxczxc"

In [135]:
x == y

True

In [136]:
x is y

False

In [125]:
ficha_bibliografica['Nombre']

'Handlin'

In [134]:
a = 1
b = 1.0

In [135]:
a == b

True

In [136]:
a is b

False

In [126]:
if ficha_bibliografica['Nombre'] is None:
    print ("Nombre is None!!")
elif ficha_bibliografica['Nombre'] == None:
    print ("Nombre == None")
else:
    print ("Nombre is not None")

Nombre is not None

In [138]:
a = None
b = 0
if b == 0:
    print("b existe")
elif b == 1:
    print ("elif")
else:
    print("no existe")

b existe

In [139]:
print(range(10))

range(0, 10)

In [146]:
for i in [1,2,3,5]:
    if i%2 == 0:
        print(i)
        break
else:
    print("No hay pares")

2

In [142]:
try:
    int("a")
except ValueError:
    print("ocurrió la exception")
else:
    print("no se ejecutó la promoción")

ocurrió la exception

In [147]:
int("a")

ValueError: invalid literal for int() with base 10: 'a'

### Operadores

#### Operaciones aritméticas

In [143]:
numero = 3 + 4 - 2 * 5 / 2 ** 9 % 1
print(numero)

import math

math.sqrt(numero)

6.98046875

2.6420576734810313

In [152]:
2 ** 3

8

#### Operaciones con strings

In [144]:
texto = comillas_simples + " " + comillas_dobles
print(texto)

texto = comillas_simples * 2
print(texto)

permite usar "comillas" dobles permite usar 'comillas' simples
permite usar "comillas" doblespermite usar "comillas" dobles

In [145]:
"*" * 5

'*****'

In [146]:
s = "El mejor número es {1}. Otros pueden decir que es el {0}".format(7,9)

In [147]:
print(s)

El mejor número es 9. Otros pueden decir que es el 7

#### Operaciones con listas

In [149]:
bajos = [1, 2, 3, 4, 5]
altos = [6, 7, 8, 9, 10]
numeros = bajos + altos
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [163]:
not(True)

False

#### Operaciones booleanas

In [179]:
variable_or = True or False
variable_and = True and False
variable_not = not False

#### Comparadores

In [ ]:
5 < 6 # Menor que

In [ ]:
5 <= 6 # Menor o igual a

In [ ]:
6 > 5 # Mayor que

In [ ]:
6 >= 5 # Mayor o igual a

In [ ]:
6 == 6 # Igual a

In [ ]:
6 != 5 # Diferente a (No igual a)

In [180]:
x = [1, 2, 3]
y = [1, 2, 3]
print(x == y)
print(x is y)

True
False

In [181]:
list([1,3])

[1, 3]

In [183]:
type(x)

list

In [185]:
type(list)

type

In [187]:
x is list

False

#### El operador "in"

El operador "in" se utiliza para comprobar si existe un objeto especificado dentro de un objeto iterable, tal como una lista:

In [150]:
"agustin" in ["Carl", "Edo", "Rick"]

False

### Control de flujo

#### If
"If" se utiliza para la ejecución condicional, es decir, "If" ejecuta algún código específico después de comprobar si su expresión es verdadera.

In [189]:
x = 5

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

In [190]:
if x == 5: print("whatuppppp")

whatuppppp

In [151]:
a = 1 if x == 5 else 2

#### For
For se utiliza para iterar sobre los elementos de una secuencia (como una cadena, tupla o lista) u otro objeto iterable:

In [192]:
numeros

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [193]:
for numero in numeros[1:3]:
    print(numero)

2
3

#### While
While se utiliza para la ejecución repetida, siempre y cuando se cumpla alguna condición

In [194]:
contador = 0
while contador < 3:
    print(contador)
    contador += 1  #contador = contador + 1
print(contador)

0
1
2
3

In [155]:
def mi_funcion(parametro_1, parametro_2 = "ric"):
    print("Hola " + parametro_2 +"!: tu tren siguiente es:"+ parametro_1)

In [156]:
mi_funcion("2", "alan")

Hola alan!: tu tren siguiente es:2

In [157]:
mi_funcion("4")

Hola ric!: tu tren siguiente es:4

In [158]:
mi_funcion(parametro_2="Sofia", parametro_1="3")

Hola Sofia!: tu tren siguiente es:3

In [159]:
s = set([1,2,2,2,2,3])

In [160]:
s

{1, 2, 3}

In [139]:
s.add(a)

In [140]:
s.add(0)

In [141]:
s

{0, 1, 2, 3, 'g'}