# Lab 1: Corrigiendo números telefónicos a 10 dígitos

Por disposición del Instituto Federal de Telecomunicaciones, a partir del 3 de agosto, la marcación a nivel nacional se homologará de una forma en la que todos los números, ya sea de teléfono fijo o celular, local o larga distancia, tengan un total de 10 dígitos.

Por lo que para llamadas de larga distancia, los números de teléfono con prefijo 01, 044, 045 ya no se marcarán, y ahora se marcará sólo el número a 10 dígitos.

Por ejemplo los siguientes números ahora se marcaran de la siguiente manera:
(+52)18342547682 -> 8342547682
01-945-6639852 -> 9456639852
044-81-97452341 -> 8197452341

Escribe en un Jupyter Notebook, un programa en Python que lea un archivo CSV con una lista de números de teléfono, transforme cada número al nuevo formato, y guarde un archivo CSV con los números corregidos. Se agrega un dataset ejemplo (directorio_ejemplo.csv)

Puede ser tu propia lista de contactos para corregir tus propios números. Si usas google puedes descargarlos en contacts.google.com en la opción Exportar. Una vez terminado, puedes volver a subir tus números corregidos y evitar la grabación pidiéndote corregir la marcación.

In [68]:
import pandas as pd

contacts = pd.read_csv('directorio_ejemplo.csv')

contacts_phone_nums = pd.DataFrame(contacts, columns=['Phone 1 - Value'])

contacts_phone_nums

       Phone 1 - Value
0   +52 1 826 106 0402
1       27887672772537
2           847 878 09
3       (81) 1060 3146
4       (81) 1590 5880
..                 ...
76      (826) 105 2150
77          8119659391
78            81039856
79           8328 4046
80           1737 0447

[81 rows x 1 columns]

Aquí, defino la función encargada de hacer la limpieza. Aplicamos la función al dataframe de una sola columna para generar uno nuevo con los datos limpios.

In [69]:
def clean_phone_num(phone_num):
    phone_num = str(phone_num)
    characters = [ ' ', '+', '(', ')', '-', ',', '"', '\u00A0']
    for character in characters:
        phone_num = phone_num.replace(character, '')
    if len(phone_num) == 13:
        phone_num = phone_num[3:]
    elif len(phone_num) == 12:
        phone_num = phone_num[2:]
    elif len(phone_num) == 11:
        phone_num = phone_num[1:]
    # special cases
    elif type(phone_num) != str or len(phone_num) != 10: 
        phone_num = 'N/A'
    return phone_num

clean_contacts_phone_nums = contacts_phone_nums.applymap(clean_phone_num)

clean_contacts_phone_nums

   Phone 1 - Value
0       8261060402
1              N/A
2              N/A
3       8110603146
4       8115905880
..             ...
76      8261052150
77      8119659391
78             N/A
79             N/A
80             N/A

[81 rows x 1 columns]

Escribimos la información del DataFrame a un archivo csv nuevo.

In [70]:
clean_contacts_phone_nums.to_csv('clean_contact_phone_nums.csv', index=False)